.dub
docs.json
__dummy.html
docs/
/dlang-mafia-collab-paint
dlang-mafia-collab-paint.so
dlang-mafia-collab-paint.dylib
dlang-mafia-collab-paint.dll
dlang-mafia-collab-paint.a
dlang-mafia-collab-paint.lib
dlang-mafia-collab-paint-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
/.idea/
/draw_client/collaborative-paint-client 
/draw_server/collaborative-paint-servers 
